/// standard colors

/// assets database path
/// usage: background: url(#{$asset-path}img//backgrounds/background.jpg) no-repeat 0 0;
//$asset-path: '//assets.ubuntu.com/sites/ubuntu/latest/u/';

/// the theme's core brand colour
$brand-color:           #772953;
/// light aubergine (consumer)
$light-aubergine:       #77216f;
/// mid aubergine (both)
$mid-aubergine:         #5e2750;
/// dark aubergine (enterprise)
$dark-aubergine:        #2c001e;
